@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
* { padding: 0px; margin: 0px; box-sizing: border-box; }

body { background: #e9e9e9; font-family: 'Roboto', sans-serif; font-size: 1.2rem; min-height: 100%; text-align: center; }

.contenedor { background: #fff; width: 90%; margin: auto; display: flex; flex-direction: row; flex-wrap: wrap; }

.header { background: #fff; width: 90%; padding: 20px; display: flex; justify-content: space-between; align-items: center; flex-direction: row; flex-wrap: wrap; position: fixed; z-index: 1; }

.header .logo { color: #fff; }

.header .logo img { width: 200px; }

.header .barra { width: 60%; display: flex; flex-wrap: wrap; align-items: center; }

.header .barra a { background: red; color: #fff; text-align: center; text-decoration: none; padding: 10px; flex-grow: 1; }

.header .barra a:hover { background: darkred; }

.main { background: #fff; padding: 20px; flex: 1 1 65%; }

.main .articulo { color: black; border: solid 1px #005ca7; margin-bottom: 10px; padding-bottom: 10px; margin-top: 80px; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: center; line-height: 30px; }

p { margin: 15px; }

.articulo .titulo { background-color: #005ca7; color: #fff; font-size: 1.5rem; }

.lateral { background: #005ca7; padding: 20px; flex: 1 1 35%; margin-top: 100px; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: flex-start; }

.lateral h3 { background-color: #fff; color: black; padding: 5px; }

.imagen img { height: 150px; margin: 10px; }

.footer { background: red; width: 100%; padding: 20px; display: flex; flex-wrap: wrap; justify-content: space-between; }

.footer .derechos p { flex-grow: 1; color: #fff; padding: 10px; text-align: center; text-decoration: none; }

.footer .icono { display: flex; flex-direction: row; align-items: center; }

.footer .icono i { font-size: 30px; color: white; margin-left: 40px; }

/*CONTACTO*/
.mainC { background: #fff; margin-top: 100px; padding: 10px; flex: 1 1 60%; }

.formulario { color: black; border: solid 1px #005ca7; margin-bottom: 10px; padding-bottom: 10px; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: center; line-height: 30px; height: 100%; }

.formulario .tituloC { width: 100%; background-color: #005ca7; color: #fff; font-size: 1.5rem; }

.lateralC { background: #005ca7; color: #fff; flex: 1 1 40%; margin-top: 100px; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: flex-start; height: 100%; }

.lateralC h2 { background-color: #fff; color: black; padding: 5px; }

.lateralC .mapa iframe { height: 150px; margin: 5px; }

/*MARCAS*/
.tituloM { width: 100%; background-color: #005ca7; color: #fff; font-size: 1.5rem; padding: 10px; margin-top: 110px; }

.tituloMa { background-color: #005ca7; color: #fff; font-size: 1.5rem; padding: 10px; }

.galeria { width: 100%; }

.galeria .imagenes { margin: 40px 0px; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-around; align-items: center; align-content: center; }

.galeria .imagenes img { width: 100px; }

.video { padding: 20px; flex: 1 1 65%; }

.video .titulo { width: 100%; background-color: #005ca7; color: #fff; font-size: 1.5rem; }

.video iframe { margin-top: 15px; }

/*SUMATE*/
.articuloSu { color: black; border: solid 1px #005ca7; margin-bottom: 10px; padding-bottom: 10px; margin-top: 120px; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: center; line-height: 30px; }

p { margin: 15px; }

.seccionSu .tituloSu { background-color: #005ca7; color: #fff; font-size: 1.5rem; }

.seccionSu { color: black; border: solid 1px #005ca7; margin-bottom: 10px; padding-bottom: 10px; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: center; line-height: 30px; }

p { margin: 15px; }

.articuloSu .tituloSu { background-color: #005ca7; color: #fff; font-size: 1.5rem; }

/*SERVICIOS*/
.mainS { background: #fff; padding: 10px; flex: 1 1 65%; }

.mainS .articuloS { color: black; border: solid 1px #005ca7; margin-bottom: 10px; padding-bottom: 10px; margin-top: 90px; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: center; line-height: 30px; }

p { margin: 15px; }

.articuloS .tituloS { background-color: #005ca7; color: #fff; font-size: 1.5rem; }

.lateralS { background: #005ca7; padding: 20px; flex: 1 1 35%; margin-top: 100px; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: flex-start; }

.lateralS h3 { background-color: #fff; color: black; padding: 5px; }

.lateralS .imagen img { height: 150px; margin: 10px; }

@media screen and (max-width: 800px) { .contenedor { flex-direction: column; }
  .header { flex-direction: column; padding: 0; }
  .header .logo { margin: 5px 0; }
  .header .barra { width: 100%; }
  .lateral { flex-direction: column; flex: 0; margin-top: 0px; }
  .lateralS { flex-direction: column; margin-top: 120px; }
  .articuloSu { flex-direction: column; margin-top: 120px; }
  .mainC { flex-direction: column; margin-top: 110px; }
  .tituloM { flex-direction: column; margin-top: 120px; }
  .derechos { clear: both; min-width: 220px; margin: auto; }
  .icono { clear: both; min-width: 220px; margin: auto; }
  .galeria .imagenes { flex: 50%; } }

@media screen and (max-width: 600px) { .contenedor { flex-direction: column; }
  .header { flex-direction: column; padding: 0; }
  .header .logo { margin: 5px 0; }
  .header .barra { width: 100%; }
  .main { flex-direction: column; margin-top: 70px; width: 100%; }
  .lateral { flex-direction: column; width: 100%; }
  .lateralS { flex-direction: column; margin-top: 160px; width: 100%; }
  .articuloSu { flex-direction: column; margin-top: 170px; width: 100%; }
  .lateralC { flex-direction: column; width: 100%; }
  .mainC { flex-direction: column; margin-top: 160px; width: 100%; }
  .tituloM { flex-direction: column; margin-top: 170px; width: 100%; }
  .galeria .imagenes { flex: 50%; }
  .video iframe { width: 250px; }
  .icono { clear: both; min-width: 220px; margin: auto; }
  .mapa iframe { width: 200px; height: 100px; } }
